

.headerFormating {
    background-color: #666161;
    }
    
    
    
    
    .customtab {
        float: left;
    }
    .customtab tr {
            float:left;
    }
    .customtab label {
            background: #eee;
            padding: 10px 3px;
            font-weight:600;
            margin-left: -1px;
            position: relative;
            left: 1px;
            cursor:pointer;
            border-bottom:none;
            text-align:center;
            width:100%;
    }
    .customtab [type=radio] {
            display: none;
    }
    .controlTabsList [type=radio]:checked ~ label {
        background:#cd0309;
        color:white;
    }
    
    .controlTabsList [type=radio]:hover ~ label {
        background:#cd0309;
        color:white;
    }
    
    .controlTabsList [type=radio].disableRadioBTN:checked ~ label {
        background:#e4e3e3 !important;
        color:unset !important;
    }
    
    .controlTabsList [type=radio].disableRadioBTN:hover ~ label {
        background:#e4e3e3 !important;
        color:unset !important;
    }
    
    .controlTabsList [type=radio].disableRadioBTN  ~ label{
        background:#e4e3e3 !important;
    }
    
    
    
    .customtab table {
    display:flex;
    flex-wrap: wrap;
    width:100%;
    }
    
    
    
    
    .customtab tr {
      width: 24.625%;
      display: flex;
      margin-right: 0.5%;
      margin-bottom: 0.1%;
    
    }
    
    
    .customtab tr td {
    width:100%;
    }
    
    
    .headerFormating_dim {
    background-color: #b1b5b2;
    }
    
    
    .border-bottom-black {
       border-bottom:1px solid black;
    }
    .bottom_right {
     border-bottom:1px solid #cfcfcf;
     border-right:1px solid #cfcfcf;
    }
    .nf-repeater-row{
    height:20px !important;
    }
    .non-editable {
    background-color:#b1b1a60f;
    }
    .editable_cell {
    background-color:#fffff1;
    }
    .backgound-white {
    background-color:white !important;
    }
    
    
    /* attachments style */
    .nf-attachmentsRow {
    position: relative;
    display: inline-block;
    background: #D0EEFF;
    border: 1px solid #99D3F5;
    border-radius: 4px;
    padding: 4px 12px;
    overflow: hidden;
    color: #1E88C7;
    text-decoration: none;
    text-indent: 0;
    height:20px;
    line-height: 20px;
    }
    .nf-attachmentsRow input {
    position: absolute;
    font-size: 100px;
    right: 0;
    top: 0;
    opacity: 0;
    }
    .nf-attachmentsRow:hover {
    background: #AADFFD;
    border-color: #78C3F3;
    color: #004974;
    text-decoration: none;
    }
    
    
    .nf-attachmentsRow .ms-vb span{
    display:block;
    width: 180px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis ;
    }
    
    
    .nf-attachmentsRow .ms-propertysheet{
    display:block;
    }
    .exportExcel input {
    background: #D0EEFF;
    border: 1px solid #99D3F5;
    border-radius: 4px;
    color: #1E88C7;
    }
    
    
    .exportExcel input:hover {
    background: #AADFFD;
    border-color: #78C3F3;
    color: #004974;
    }
    
    input[type=password][disabled], input[type=text][disabled], input[type=file][disabled], textarea[disabled], select[disabled], .sp-peoplepicker-topLevelDisabled, .ms-inputBoxDisabled {
    color:black;
    }
    
    .parent {
        width: 100%;
        height: 100%;
        display: table;
        text-align: center;
    }
    
    
    
    #cssloading {
        position: fixed;
        z-index: 100;
        background-color: #f4f4f4;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
    }
    
    
    .parent>.child {
        display: table-cell;
        vertical-align: middle;
    }
    
    
    .spinner {
        border: 12px solid #f3f3f3;
        border-top: 12px solid grey;
        border-radius: 50%;
        width: 120px;
        height: 120px;
        -webkit-animation: spin 2s linear infinite;
        animation: spin 2s linear infinite;
        margin: 0 auto;
    }
    
    
    .working {
        font-size: 13px;
        color: grey!important;
        padding-top: 10px;
    }
    
    .custom_add_new_row .nf-repeater-addrow {
        border: 1px solid grey;
        padding: 3px 5px;
        top: -75px;
        display: block !important;
    }
    
    .top_airWhse .nf-repeater-addrow {
       top: -130px;
       display: block !important;
    }
    .custom_add_new_row img {
        position: relative;
        top: 2px;
    }
    
    
    .custom_add_new_row a {
       font-size: 13px;
       color:black !important;
    }
    
    .nf-textbox-wrapper {
    top:-3px;
    }
    
    .firmCodeRepeater.nf-filler-control.nf-filler-highlightonvalidationerror.nf-resizable {
     height:400px !important;
     overflow-y:scroll !important;
    }
    
    .customtab tr:nth-child(4n) {
       margin-right:0px !important;
    }
    
    .nqClass {
    border:1.5px solid #cbcaca;
    text-align:center;
    }
    
    
    .non_editable_cell {
       background-color: #fbfbfb !important;
    }
    
    
    .editable_cell {
        background-color: #fffff1 !important;
        border: 1px solid #e1e0e0 !important;
    }
    
    .line_height_30 {
    line-height:30px;
    }
    
    .nf-repeater-addrow {
        display: none;
    }


    
    
    